[2018-12-01 12:00] gaearon opened #2 "Fix RSS"
I heard it's broken but I don't know why or how to fix it yet

[2018-12-01 12:02] gaearon opened #3 "Autodeploy to now"
Currently I have to run

[code]

This is annoying. I want it to be done automatically on commit but I couldn't figure out how to write a correct `now.json`.

[2018-12-01 12:06] gaearon opened #4 "Make Twitter cards work"
Seems like there's no fancy preview

[2018-12-01 12:33] gaearon opened #5 "Set up newsletter?"
Dunno how

[2018-12-01 12:50] ronaiza-cardoso commented on #4
it's about this? https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards.html

[2018-12-01 13:12] gaearon commented on #4
Yea

[2018-12-01 13:34] dsznajder commented on #5
@gaearon Maybe this would be useful: [gatsby-plugin-mailchimp](https://www.gatsbyjs.org/packages/gatsby-plugin-mailchimp/) :)

[2018-12-01 16:37] tanaypratap commented on #2
I think the reason is that you're missing `gatsby-plugin-feed` in you[r gatsby-config.js](https://github.com/gaearon/overreacted.io/blob/master/gatsby-config.js) file.

See this for the [feed config](https://github.com/greglobinski/gatsby-starter-personal-blog/blob/3a8de9fd637005dbef70c3212e5b1fb0eb05c8dd/gatsby-config.js#L165):

[2018-12-01 16:42] tanaypratap commented on #4
This plugin might help you with it. https://www.gatsbyjs.org/packages/gatsby-remark-social-cards/

[2018-12-01 16:59] tanaypratap commented on #3
Thank you for bringing `now` to my notice. I didn't know about this amazing tool out there. I think after the blog is complete you should do a __making of your blog__ blog.

[2018-12-01 19:06] stmoreau opened #6 "Add "like" feature or the posts"
It would be great if users were able to like the posts.

[2018-12-01 19:06] stmoreau opened #7 "Add "comment" feature or the posts"
It would be great if users were able to comment on the posts and start discussions.

[2018-12-01 22:51] yeskunall commented on #3
[This](https://zeit.co/docs/v2/integrations/now-for-github/#usage) and [this](https://zeit.co/docs/v2/integrations/now-for-github/#aliasing-the-default-branch) might help.

[2018-12-02 01:14] DSchau commented on #3
[This](https://github.com/zeit/now-examples/blob/master/gatsby/now.json) should be the ticket.

(although the distDir seems like it should be public, not dist 🤷‍♂️)

[2018-12-02 01:18] DSchau commented on #4
@tanaypratap I'd probably recommend using [`gatsby-plugin-twitter`](https://www.npmjs.com/package/gatsby-plugin-twitter) instead. It loads the Twitter JS to embed the widget, and you just use the blockquote embed pattern to embed tweets.

e.g. [in the Gatsby docs](https://github.com/gatsbyjs/gatsby/blob/master/docs/blog/2018-09-17-gatsby-v2.md#ludicrous-mode-aka-faster-data-hot-reloading) and [liv

[2018-12-02 06:50] plibither8 opened #8 "Link to Twitter profile is the mobile version"
https://github.com/gaearon/overreacted.io/blob/1f0861587bd219403283ef9dd1a95eac2371ddc1/src/components/Bio.js#L30

The link as of now open the mobile site even on desktops. Removing `mobile.` from the URL should fix it.

[2018-12-02 16:36] talves commented on #5
Dan has some homework to do on this one. He will hit 20K subscribers in the first month or so probably. I have nothing bad to say about mailchimp and use it for some of my customers who are non-profit and US only.  That will not be the case here.

With GDPR and the international community as subscribers, you get the fun of making sure it is all covered. Once they sign up for the newsletter, game o

[2018-12-02 17:37] igorkamyshev opened #9 "Translating to Russian language"
Hello! Your blog is awesome! Don't you mind if I translate it to Russian?

[2018-12-02 19:50] Uncleseneca commented on #9
Looks like a good idea to me! I think that an addition of proper i18y would be perfect but while waiting, I made a draft of the translation *smiley* [here](https://github.com/breadhead/overreacted.io)

[2018-12-02 22:56] amazing-space-invader commented on #3
I tried to use now/static-build, but they crash on `yarn` with err below. This maybe a zeit's bug?

[code]

now.json
[code]

package.json script for Now to know what to execute
[code]

Another way - build dist on local machine, commit to repo and then use now/static https://zeit.co/docs/v2/deployments/official-builders/static-now-static/

[2018-12-03 01:14] somarlyonks commented on #3
consider [#1544](https://github.com/zeit/now-cli/issues/1544) and https://zeit.co/blog/every-push-now

[2018-12-03 01:40] gaearon commented on #9
Happy to link to translations! Just send PRs.

[2018-12-03 01:43] gaearon opened #11 "Fix line highlight for long lines"
At least on iOS, line highlight doesn't work for long lines (parts to the right are not highlighted).

There seems to be a fix mentioned in https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/:

I think I tried those instructions but they broke something and I didn't finish it. Feel free to PR!

My file is in https://github.com/gaearon/overreacted.io/blob/master/src/utils/theme.css

[2018-12-03 02:03] gaearon commented on #8
That's intentional — mobile website is desktop-friendly and will soon be the default one on desktop too. Also uses React.

[2018-12-03 02:03] #8 closed

[2018-12-03 03:42] tanaypratap commented on #4
@DSchau I think the requirement is to show blog's card view in Twitter and not Twitter in blog. My suggestion was to solve the former. I might be mistaken though. @gaearon would be able to clarify.

[2018-12-03 03:43] tanaypratap commented on #2
@gaearon do you want me to send a PR for this?

[2018-12-03 03:48] tanaypratap commented on #7
This could help. https://www.npmjs.com/package/disqus-react
No backend server needed, only need to register at disqus.

[2018-12-03 07:43] Angelki opened #13 "Spell error"
It might be : obj.__proto__.__proto__?

[2018-12-03 07:52] xiaohesong commented on #13
yep, i think it may be a typo. so i had submit [PR](https://github.com/gaearon/overreacted.io/pull/12/commits/9d8366fb6b1f287e719b417b6288856188ba313e)

[2018-12-03 08:10] Angelki commented on #13
ok

[2018-12-03 08:10] #13 closed

[2018-12-03 08:37] equinusocio commented on #4
Just add correct meta to each article..

[code]

[2018-12-03 12:15] #11 closed

[2018-12-03 12:17] gaearon opened #16 "Add "Edit" button at the bottom"
For typos etc. Should link to GitHub editing interface.

[2018-12-03 12:18] gaearon commented on #7
Thanks, but I intentionally want to keep it read-only for now.

[2018-12-03 12:18] #7 closed

[2018-12-03 12:19] gaearon commented on #6
Thanks, but I intentionally want to keep it read-only (no interactions) for now.

[2018-12-03 12:19] #6 closed

[2018-12-03 12:19] gaearon commented on #2
sure

[2018-12-03 12:19] gaearon commented on #2
also how do I test if it works?

[2018-12-03 12:21] gaearon commented on #5
Actually I'm thinking maybe newsletter is a wrong format for this. I want this to be a place people intentionally go look at for something new. Not something that drops into their already oversaturated inboxes. It's probably worse for short term engagement but I think it's better for this blog's format. For people who want to follow there's always going to be RSS.

[2018-12-03 12:21] #5 closed

[2018-12-03 12:22] gaearon commented on #4
I just want this to be automatic.

[2018-12-03 15:39] gaearon opened #20 "Inline code font is too large on mobile"
On iPhone safari `inline code` font is too large compared to surrounding text. Need to bump down. But for desktop we should keep current size.

[2018-12-03 21:56] alexeyraspopov commented on #20
It's happening due to text size adjust mechanism: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust

Can be fixed by

[code]

[2018-12-04 16:38] DSchau commented on #4
Whoops - circling back to this.

@tanaypratap you are correct, I was incorrect 😬 Thanks for the clarification!

@gaearon you'll probably want to use an SEO component like [here](https://github.com/DSchau/gatsby-mail/blob/master/src/components/meta.js). I recommend some sane defaults that can then be overridden at the template level. I'll take a look at this in a sec.

[2018-12-04 16:45] equinusocio commented on #4
@DSchau It use react-helmet like said in my comment. 👍

[2018-12-04 18:05] yusufff opened #26 "Add support for latin-ext for fonts"
Since there will be translations for articles, we need more supported languages for fonts. As far as I know, [typefaces](https://github.com/KyleAMathews/typefaces) have support for latin language right now. We can use directly google fonts maybe?

[2018-12-04 19:13] naeluh opened #27 "code highlighting"
hey what code highlighting color scheme is that?

[2018-12-04 19:21] yusufff commented on #27
Hey @naeluh, I believe its this: [Night Owl](https://github.com/sdras/night-owl-vscode-theme/). It is also on the Readme 🙂

[2018-12-05 09:49] brainlessdeveloper opened #29 "Add a post explaining when React creates SyntheticEvents"
Congrats on your new blog, the posts are great so far.

Some time ago I asked [this question on StackOverflow](https://stackoverflow.com/questions/52444941/when-does-react-create-syntheticevents) and didn't get a satisfactory answer. I ended up answering and accepting my own answer, because that's the closest I ever got to one.

I think you might know better?

### Original question follows

Right

[2018-12-05 10:14] brainlessdeveloper commented on #29
I hope this is the right place for a topic suggestion.

[2018-12-05 11:53] coocooooo commented on #29
+1

[2018-12-07 15:43] tschoffelen commented on #2
Seems like it's working fine: https://validator.w3.org/feed/check.cgi?url=http://overreacted.io/rss.xml

[2018-12-08 00:32] #16 closed

[2018-12-08 00:34] #4 closed

[2018-12-08 01:11] gaearon commented on #3
I almost broke the website again trying to use `now.json` so I'm giving up and just doing this b13a88b

[2018-12-08 01:11] #3 closed

[2018-12-08 17:59] shubhang93 opened #32 "Why doesn't React.createElement cause a stack overflow?"
Great Blog, Dan I have every single post of yours, I was recently reading about tail call optimisation in JS strict mode. I would like to know if React.createElement is implemented using tail call optimisation, since it is a recursive call , wouldn't it cause a stack overflow error.

[2018-12-10 09:58] ummahusla commented on #9
I'd like to help with this as well :tada:

@igorkamyshev how are you getting on with initial setup?

[2018-12-10 19:42] igorkamyshev commented on #9
@ummahusla I will finish working on #24 on this weekend and infrastructure for translating will be done.

[2018-12-11 09:38] ummahusla commented on #9
@igorkamyshev great stuff mate 👍 please keep us updated

[2018-12-11 14:50] vitordino opened #39 "port medium/dev.to posts?"
hey Dan, pretty nice blog :tada:

i'm just unsure if you want to bring your posts from other sources to this one, if you are willing to do this, I can gladly help with it 🤗 . I think many people, like me, would rather prefer referencing overreacted than medium — for example.

[2018-12-11 15:17] vitordino opened #40 "mdx || cms"
i wondered if it's worth it, or if make any sense to you, implementing `mdx` or at least some kind of cms (probably netlify-cms), i have some experience in it — even on more complex sites like my [university's news lab](https://campus.fac.unb.br/) and would be glad to tackle this too.

[2018-12-11 22:18] gaearon commented on #39
Thanks but I think I'll keep this one separate from previous writing.

[2018-12-11 22:18] #39 closed

[2018-12-12 03:51] sompylasar commented on #32
@shubhang93

Why do you think a call to `React.createElement` is a recursive call? Could you please provide a code sample where you see a recursion?

[2018-12-12 10:44] farskid opened #41 "Edit on github link 404"
For some reason, the page https://overreacted.io/optimized-for-change/ isn't available on the repository hence the "Edit on Github" link points to 404 on Github.

<img width="930" alt="screen shot 2018-12-12 at 12 44 23" src="https://user-images.githubusercontent.com/8332043/49864672-afa93f00-fe0b-11e8-9f3f-3d5453e55127.png">

[2018-12-12 13:56] farskid commented on #41
It works after: https://github.com/gaearon/overreacted.io/commit/4f0688ef60f09a083c20a6c85e18bd948e5cd9c4

[2018-12-12 13:56] #41 closed

[2018-12-12 15:06] gaearon commented on #41
yeah forgot to push

[2018-12-13 01:25] gaearon opened #43 "Images are broken in the build"
1. Revert https://github.com/gaearon/overreacted.io/commit/ec340febed133f3e7ec2c1f9a863108dd0f02cda
2. `yarn build`

The `public` folder post is broken — images don't exist at generated path. I don't know why. Works in `dev`.

cc @DSchau

[2018-12-13 03:36] dardub commented on #40
I think netlify-cms is a waste of time to set up. Markdown is a very nice tool for writing blog posts. Keep it simple. :)

Just my two cents.

[2018-12-13 11:51] PinkaminaDianePie commented on #7
sad. very often I love comments on Medium more than original articles - different opinions and arguing in the comments give a better understanding of the topic. and i suppose this repo issues is not the best place for such discussions.

[2018-12-13 12:40] stmoreau commented on #7
@PinkaminaDianePie I trust Dan will come back to this feature when he thinks timing is right. For now I don't think anyone can complain. The content he uploads is 🔥 🔥

[2018-12-13 13:49] vitordino commented on #40
yeah, just read some things, and he really just use the editor..

mdx would be cool, but I think if he need any react environment, he would use a codesandbox or anything alike..

closing this

[2018-12-13 13:49] #40 closed

[2018-12-14 01:12] gaearon opened #50 "Convert to MDX"
I'd like to try using MDX so I can embed live snippets in the future. I tried to do it with Gatsby and utterly failed. (I couldn't get it working at all.)

If somebody can convert existing stuff to MDX (while keeping the functionality in previous posts exactly the same) that would be great.

[2018-12-19 16:01] NaumanMoazzam opened #54 "README File missing steps to run locally"
As README.md suggested,
![image](https://user-images.githubusercontent.com/30693949/50231645-152f9980-03d1-11e9-9546-6a697f340c28.png)

I cannot run it. Causing errors. Am i missing anything, or do we need to update README.md ?

EDITED:

![image](https://user-images.githubusercontent.com/30693949/50234056-a5241200-03d6-11e9-8813-9d574e7a88c5.png)

![image](https://user-images.githubusercontent.com

[2018-12-19 16:06] sinchang commented on #54
please paste error messages in the issue description.

[2018-12-20 03:13] sinchang commented on #54
make sure that libpng-dev is installed. https://github.com/imagemin/pngquant-bin#updating-pre-compiled-binaries

[2018-12-20 12:40] gaearon commented on #54
Seems like Windows specific issue.

[2018-12-20 13:59] NaumanMoazzam commented on #54
Yes, I am using Windows 8.1.
Is there any solution to run on windows?

[2018-12-21 11:49] wongmjane commented on #50
It's already possible to use custom React components inside Markdown files with Remark.
You don't have to move away from Remark to MDX for such functionality.

For example:
[code]

[code]

Gatsby Remark has provided docs on this topic extensively:
https://using-remark.gatsbyjs.org/custom-components

[2018-12-21 18:14] gaearon commented on #54
I don't know.

cc @DSchau

[2018-12-21 18:20] DSchau commented on #54
@NaumanMoazzam are you using the Unix subsystem stuff in Windows? Not really sure--these issues tend to be challenging to debug, particularly with the Unix subsystem.

I would recommend first checking out [this issue](https://github.com/papandreou/node-pngquant/issues/5) and validating your PATH.

If that doesn't work, perhaps [this comment](https://github.com/papandreou/node-pngquant/issues/14#is

[2018-12-22 09:58] NaumanMoazzam commented on #54
@DSchau No, I am not using any Unix subsytem stuff in Windows. I am using Windows 8.1  Pro. And those comments aren't helpful in any way.

[2018-12-22 13:45] jackwilsdon commented on #54
@NaumanMoazzam, it looks like you're experiencing [this issue](https://github.com/imagemin/imagemin-pngquant/issues/46)

[2018-12-26 17:05] gaearon commented on #43
This was *not* fixed by https://github.com/gaearon/overreacted.io/pull/46.

[2018-12-26 17:07] gaearon commented on #43
This is really embarrassing. Why does it keep happening?

[2018-12-26 17:11] DSchau commented on #43
@gaeron sorry about that! Do you have an example post or posts where this is happening?

Does it only seem to happen on the built site intermittently, or is it something you can reproduce pretty reliably?

[2018-12-26 17:12] gaearon commented on #43
It happens on every deploy, in every post with images. (https://github.com/gaearon/overreacted.io/commit/ec340febed133f3e7ec2c1f9a863108dd0f02cda is an example)

[2018-12-26 17:15] gaearon commented on #43
Seems like bumping deps again (https://github.com/gaearon/overreacted.io/commit/fece90fde990c4de6b6f7fad6bd5fc110115b155) may have resolved it. I'll close again for now but if it resurfaces we'll know it's intermittent.

[2018-12-26 17:48] gaearon commented on #43
It happened agaaaaain

[2018-12-26 17:49] gaearon commented on #43
Clearing `node_modules` and cache and rebuilding seems to fix it.

[2018-12-26 17:50] sidharthachatterjee commented on #43
So sorry you're seeing this @gaearon

We cache a bunch of stuff in the `.cache` directory and building (based on your package.json) runs "build": "rm -rf public && gatsby build" which deletes `public` and not `.cache`

[2018-12-26 17:50] sidharthachatterjee commented on #43
Sending you a PR in a minute

[2018-12-26 17:50] gaearon commented on #43
Right. I thought it's safe to leave the cache but I'll add a thing that clears it.

[2018-12-26 17:51] gaearon commented on #43
https://github.com/gaearon/overreacted.io/commit/7e00945b03b4ae8ef3eb60f73141341acf9ae261?

[2018-12-26 17:52] sidharthachatterjee commented on #43
Perfect

[2018-12-26 17:59] sidharthachatterjee commented on #43
So Netlify's build image at https://github.com/netlify/build-image/blob/65e07189f42d3cc797f1dfe86e197b914a6a5c85/run-build-functions.sh#L41 caches `.cache`

That's why some builds were failing (mismatch of public and .cache) and some weren't (presumably when you forced a build without cache)

[2018-12-28 11:52] gaearon commented on #5
Okay, here goes

https://github.com/gaearon/overreacted.io/pull/55

[2018-12-29 22:36] WizardOfAus opened #61 "Came across a blog post and had a few comments..."
Came across https://overreacted.io/things-i-dont-know-as-of-2018/?fbclid=IwAR1kKjMRUwDL8iIHfltfyJSivQLF3kAXgMz73O_hUR0_NzmTtDPDsspeOZw aka https://github.com/gaearon/overreacted.io/edit/master/src/pages/things-i-dont-know-as-of-2018.md

Found it through a social media post someone shared. Was great but I think it would be much more informative to maybe add a bit about context about what you are wo

[2018-12-30 16:58] xnng commented on #54
@NaumanMoazzam My pngquant doesn't work properly on win10 either

![image](https://user-images.githubusercontent.com/38936252/50549342-1f397e00-0c96-11e9-9720-59d8094c9b07.png)

But it doesn't matter.

I can install dependencies

![image](https://user-images.githubusercontent.com/38936252/50548856-aaaf1100-0c8e-11e9-9a61-14be3c72608d.png)

I can run it.

![image](https://user-images.githubusercont

[2018-12-31 09:20] NaumanMoazzam commented on #54
@xnng Do you know anything what I am missing?

[2018-12-31 10:02] xnng commented on #54
@NaumanMoazzam What are your node and yarn versions?

[2018-12-31 16:16] NaumanMoazzam commented on #54
@xnng Yarn Version == 1.12.3 , Node Version == 8.12.0

@j-f1 yarn --force didn't help me.

[2018-12-31 19:16] gaearon commented on #61
https://overreacted.io/the-elements-of-ui-engineering/

[2018-12-31 19:16] #61 closed

[2018-12-31 19:16] gaearon commented on #50
Oh cool thanks

[2018-12-31 19:16] #50 closed

[2018-12-31 19:17] gaearon commented on #43
I guess we can close this, hasn't happened since. It's still deeply confusing that `.cache` needs to be cleared before a deploy.

[2018-12-31 19:17] #43 closed

[2019-01-02 21:17] gaearon commented on #54
I'll close since there's nothing I can help with — hopefully someone will figure it out

[2019-01-02 21:17] #54 closed

[2019-01-02 21:18] gaearon commented on #32
It's not really recursive in React 16 (although that still works as a conceptual explanation). In either case your component isn't deep enough to hit stack overflow.

[2019-01-02 21:18] #32 closed

[2019-01-02 21:18] DSchau commented on #54
@NaumanMoazzam we'd be happy to help you out with a one-off pairing session to help debug this issue.

Feel free to [sign up for one on my Calendly](https://calendly.com/dschau)

Sorry you're having these issues!

[2019-01-02 21:18] gaearon commented on #29
Thanks for suggestion! I'll consider it

[2019-01-02 21:18] #29 closed

[2019-01-02 21:21] gaearon opened #65 "Absolute links in RSS should include domain"
In RSS feed, links like `/stuff` are left as `/stuff`. When email subscription service picks them up, the links end up broken because it doesn't apply base domain to them.

It would be nice if we could somehow hook into Gatsby RSS feed plugin and prepend domain-less links with the site domain.

[2019-01-02 21:47] gaearon opened #67 "RSS post summary should use "spoiler" graphql field"
Same one I'm using for front page.

[2019-01-07 13:50] #67 closed

[2019-01-11 20:43] NaumanMoazzam commented on #9
@igorkamyshev I can translate into URDU. Let me know when you are able to translate in Russian.
Great work btw!

[2019-01-15 03:29] gaearon opened #71 "Fix yarn build"
Since adding translations, `yarn build` is failing.

[2019-01-15 03:34] wongmjane commented on #71
Got stack trace or error logs?

[2019-01-15 03:34] devrchancay commented on #71
what is the error?

[2019-01-15 03:42] aleph-naught2tog commented on #71
At least on my machine the error on `yarn build` is:

[code]

[2019-01-15 03:44] camtheperson commented on #71
@aleph-naught2tog Yep. Seeing a number of those errors myself.

[2019-01-15 04:06] gabriel-miranda commented on #71
I think the first errors are because of the folder structure. I got rid of that error by moving the routes into a single folder and referencing that in the gatsby build, work from there I guess  👀
After that I see `GraphQLError: Cannot query field "langKey" on type "fields_2".` It's late here, but I hope is worth something :)

[2019-01-15 11:21] #71 closed

[2019-01-15 11:22] gaearon commented on #71
Thanks so much

[2019-01-15 11:32] j-f1 opened #72 "Only include English posts in RSS feeds"
I was excited to get a new Overreacted post in my RSS reader this morning, but discovered that it was a translation of an existing post. Would it be possible to skip translated posts when building the RSS feed?

Note to self 📝
- make sure lang is in `<html>`
- filter list of posts in config file

[2019-01-15 11:38] gaearon commented on #72
Yeah but I don't know how. :D
Happy to take a PR.

[2019-01-15 12:03] AndrewIngram commented on #72
You just need to add a filter to this query: https://github.com/gaearon/overreacted.io/blob/master/gatsby-config.js#L104-L107

Gimme a min.

[2019-01-15 12:13] hidde opened #73 "Set language attribute dynamically"
Posts in other languages, like [2018年，那些我所不知道的技術](https://overreacted.io/zh_TW/things-i-dont-know-as-of-2018/), have a slug specifically for their languages, but the `lang` attribute on the `<html>` element is fixed. By setting the lang attribute to the correct language, the page conveys what language it is in, so that programs have an easy way to determine it. This is beneficial for assistive tec

[2019-01-15 12:20] AndrewIngram commented on #72
Okay, it looks like you've got each translation included all the languages in its langs (which is great, because you can properly do some page metadata), but you need a way identifying the language of an individual translation. There are two ways to do this:

1. You can filter on `fileAbsolutePath` and use a regex to exclude anything which has a language suffix, eg `.tr.md`. This will work with th

[2019-01-15 12:23] #73 closed

[2019-01-15 13:05] #72 closed

[2019-01-15 16:04] gaearon opened #78 "Make ConvertKit script deferred"
Currently this script is synchronous:

https://github.com/gaearon/overreacted.io/blob/e8f1ab4a918b2ed6662b4a71bfc7cc817cf5d413/gatsby-ssr.js#L4

This is not good. I tried to add `defer` to it but I think this broke the form. We need to figure out how to load it asynchronously. It's fine if client side validation is missing while script is loading but the form should work
.

[2019-01-15 18:38] #78 closed

[2019-01-16 18:46] gaearon opened #99 "I want to declare langs only once in the original articles"
Currently translation PRs create a bunch of merge conflicts because `langs` has to added to each translation file separately. It's easy for them to get out of sync.

It would be nice if `langs` only needed to be declared in the English original Markdown file (or, ideally, not declared at all, but deduced from all files with the same name before language suffix extensions).

<s>We should also sort

[2019-01-16 18:48] gaearon opened #100 "Move articles to content folder"
Currently they're in `src/pages`. That's confusing. Would be nice to have a separate folder with content. Images should be scoped to a directory with blog post.

[2019-01-16 19:03] gaearon opened #101 "Links on localized pages should prefer localized versions"
If I link from one article that has e.g. Korean translation to another that *also* has it, it would be nice if they automatically chose the Korean version.

Of course we can modify Markdown directly to do it but that's too error-prone.

[2019-01-16 19:06] j-f1 commented on #100
Could also have a directory for each post with `en.md`/`ko.md`/etc in it for each language.

[2019-01-17 01:44] dinhquochan opened #105 "Current fonts does not support Vietnamese characters"
Looking for screenshot (captured on Chrome Windows)

![ow51ds6gtu_elrzusg_yjq](https://user-images.githubusercontent.com/9979458/51289752-00780d00-1a34-11e9-952b-623b4ce1a62f.png)

[2019-01-17 01:45] dinhquochan commented on #26
Ref #105  same issue.

[2019-01-17 01:48] j-f1 commented on #105
Strange — Merriweather should support Vietnamese.

[2019-01-17 13:54] #20 closed

[2019-01-18 16:20] Hopchenko commented on #100
https://github.com/gaearon/overreacted.io/pull/121

[2019-01-18 20:07] zsoltime commented on #105
@j-f1 Merriweather does support Vietnamese; however, the `typeface-merriweather` package contains Latin languages only.

[2019-01-18 20:19] gaearon commented on #105
If someone can help make https://github.com/gaearon/overreacted.io/pull/113 fast (at least for English) and not regress perf, that would be great

[2019-01-18 21:15] #100 closed

[2019-01-19 06:29] renatorib opened #122 "Edit links broken by #121"
Edit links is pointing to: `[...]/pages/<filename>.<lang>.md`
After #121 they must point to `[...]/pages/<filename>/<filename>.<lang>.md`

[code]

[2019-01-19 17:38] gaearon opened #125 "Disable Prettier on Markdown"
I don't want the format script in package.json to reformat Prettier.

[2019-01-19 18:34] #125 closed

[2019-01-19 18:38] gaearon commented on #122
fixed

[2019-01-19 18:38] #122 closed

[2019-01-20 08:46] jLouzado commented on #125
Why not format Markdown with Prettier @gaearon ?

Just asking incase you had any issues with it; afaik the changes it makes don't affect the rendered output

[2019-01-20 11:52] j-f1 commented on #125
It changes the code in the code blocks.

[2019-01-20 13:58] gaearon commented on #125
Yeah, I'm pretty intentional about indentation etc, don't want it to be messed with

[2019-01-20 14:27] gaearon opened #131 "Add language pages"
It's cool that this exists: https://overreacted.io/ko/

But ideally it would be an actual page that explains these are translations, and shows a list.

[2019-01-20 17:23] jaworek opened #132 "Layout broken on iPhone 5, 5s, SE after adding dark mode"
Dark mode toggle does not fit on screen that is as narrow as on small iPhones (5, 5s, SE), which makes page scrollable horizontally.

![image](https://user-images.githubusercontent.com/22678765/51442770-6e486100-1ce0-11e9-8374-2f106050ec06.png)

[2019-01-20 17:42] #132 closed

[2019-01-20 17:43] gaearon opened #134 "Fix CSS properly"
This hack is ridiculous.

https://github.com/gaearon/overreacted.io/blob/905b6821ecd9a4836118996908baaffb146e7cee/src/components/Layout.js#L72-L74

Would be nice to somehow change the layout so we don't have to "guess" here.

[2019-01-20 20:06] gaearon commented on #134
I don't want to change anything visually — just to get rid of the hack

[2019-01-20 21:48] mojtabast opened #137 "Half of page is white when the content is short in Dark mode"
This happens on [newsletter confirm page](https://overreacted.io/confirm/) and also [thanks page](https://overreacted.io/thanks/).

<img width="1440" alt="screen shot 1397-11-01 at 01 08 39" src="https://user-images.githubusercontent.com/3523430/51445418-d4050f00-1d19-11e9-82b2-c6f590a682f5.png">

[2019-01-21 01:53] gaearon commented on #137
Aah thanks

[2019-01-21 01:57] #137 closed

[2019-01-21 01:59] gaearon commented on #134
I just care that

- switcher is aligned with the bottom of the header
- switcher retains position while navigating between home page and blog post

I don't mind weird values as long as I don't have to tune two weird values against each other (like I have to now).

[2019-01-21 09:51] jaworek opened #141 "Links in post body causes refresh of the site"
Link that points to "The Elements of UI Engineering" in "Things I Don’t Know as of 2018" causes site to refresh.

https://github.com/gaearon/overreacted.io/blame/master/src/pages/things-i-dont-know-as-of-2018/index.md#L96

[2019-01-21 11:53] j-f1 commented on #141
This seems to be because the blog post’s content is injected [using `dangerouslySetInnerHTML`](https://github.com/gaearon/overreacted.io/blob/56f8807f5733d735dbdedc4b549dd883951a9214/src/templates/blog-post.js#L123). I’ll see if I can figure something out here.

[2019-01-21 17:54] mojtabast opened #148 "Is there any plan to support RTL languages?"
Some of languages like Persian and Arabic are rtl languages so for translating posts to them we need to do some changes on layout to support. I can help to making layout RTL-friendly and translate posts to Persian if you appreciate it.

[2019-01-21 19:56] gaearon commented on #148
Would be very cool!

[2019-01-21 19:58] gaearon opened #149 "Add error boundaries"
At least a fallback that shows a link to file an issue here.

[2019-01-21 21:56] jaworek opened #150 "Add credits for contributors"
I was thinking about adding some kind of credit for people who provide fixes, translations, etc.

Would it be possible to add "translation submitted by ..." or something similar?

For other types of contributions I was thinking about adding this project to README:
https://github.com/all-contributors/all-contributors

[2019-01-22 01:10] gaearon commented on #150
Sure

[2019-01-22 12:18] gaearon commented on #99
Fixed by https://github.com/gaearon/overreacted.io/pull/157

[2019-01-22 12:18] #99 closed

[2019-01-23 16:21] gariasf commented on #134
There, that commit should do the trick.
Please let me know if there's anything you'd like to change.

[2019-01-23 17:29] ericvvf opened #164 "Adapted Title"
Hey, @gaearon!

We are about to publish the translation to Portuguese of your post on our company blog, as requested on #88. We thought that it would make better sense to publish it with a slightly adapted title, due to the temporal circumstances: "_Coisas que eu não sabia em pleno 2018 - por Dan Abramov_", which literally translating means "_Things I Didn't Know as of 2018 - By Dan Abramov_". Are

[2019-01-25 20:21] gaearon opened #178 "You Might Also Like"
I think maybe instead of prev/next links there should be a way to associate posts with other posts (e.g. "related" list in frontmatter header). Then they would show up below the post. Maybe even always suggest just one (to reduce choice anxiety). Could remember which ones you've read in local storage and pick one out of the related list that you haven't read yet, at least on this device.

[2019-01-25 23:29] gaearon opened #180 "Fix code size in headings"
[code]

looks funny

[2019-01-26 04:33] itsjzt opened #181 "Code breaking responsive-ness"
Long Code in heading ex: `componentShouldUpdate` is breaking responsive-ness on small phones

[2019-01-26 04:42] itsjzt commented on #181
![whatsapp image 2019-01-26 at 10 05 23 am](https://user-images.githubusercontent.com/22629916/51782694-c94fdd00-2152-11e9-8ae2-e4e4f10563b6.jpeg)

[2019-01-26 15:07] gaearon opened #190 "Adjust fallback fonts so they don't jump as much"

[2019-01-27 18:37] #141 closed

[2019-01-27 18:37] gaearon commented on #101
Fixed by https://github.com/gaearon/overreacted.io/pull/194

[2019-01-27 18:37] #101 closed

[2019-01-27 19:49] gaearon opened #195 "Anchor link doesn't respect the theme"
Should be an easy fix. (See black icon to the left of the text)

<img width="430" alt="screen shot 2019-01-27 at 7 49 04 pm" src="https://user-images.githubusercontent.com/810438/51806032-a9acd780-226c-11e9-9bdb-cb4797c3e3dd.png">

But I don't know if we can fix without forking that autolink plugin in this repo. FWIW I that need for another thing anyway so it's fine if we just copy paste it here.

[2019-01-27 20:07] #195 closed

[2019-01-27 23:48] gaearon opened #198 "Call for language maintainers"
It would be nice to ensure some consistency between the quality of different translations. It's great if there could be a person or a group of volunteers for every language who translate and/or provide reviews on translations.

I'm going to be translating posts into Russian myself.

It seems like a few people already are actively helping with:

* French @tdd
* Traditional Chinese @chloewlin
* Span

[2019-01-27 23:57] Naahuel commented on #198
I was actually thinking about this. I've translated a couple of posts into Spanish and reviewed an open PR for a new translation. That requires making some decisions and it would be great to have consistency across posts. If it's ok with you and @carburo I can collaborate with him reviewing Spanish translations.

[2019-01-28 00:10] haesookim commented on #198
Hi! I noticed some of your posts were translated into Korean but I did see some improvements that could be made, so if you need a hand and/or team for that I’d be happy to jump in :)

[2019-01-28 00:35] carburo commented on #198
I couldn't agree more. And of course, It would be great to have @Naahuel collaboration.

[2019-01-28 06:07] Gabri3l commented on #198
I started the Italian translation for `Why Isn’t X a Hook?`, slowly but surely I am planning on doing more, depending on how much time I have on my hands.

[2019-01-28 11:57] ChaituKNag commented on #198
I will do Telugu translations as much as possible...

[2019-01-28 12:49] cstrnt opened #203 "Code inside of <a>tag in dark theme looks weird"
![image](https://user-images.githubusercontent.com/20679094/51837307-5174e480-2303-11e9-95e5-ca4c4100855f.png)

As you can see in the screenshot the box-shadow looks weird when using `<code>` inside the `<a>` tag.

I personally think that there should not be the box-shadow property on the `<a> `when there is a `<code>` tag inside. But it looks fine on white theme though.

[2019-01-28 13:45] marceloch2 commented on #198
I see you already have a few one's translated to Brazilian Portuguese. I'll try to help with the others.

Also i believe that working together in the big one's will make more enjoyable, so if any colleague working with PT-BR find stuck and/or without time to finish, etc, just mark me and we can work together.

[2019-01-28 15:07] Frexeptabel commented on #198
I'm a native german speaker and will be doing some translations to german!

[2019-01-28 15:07] WendellAdriel commented on #198
It would be great to help with Brazilian Portuguese translations.
I had started some when the first translation was merged, but then someone started and finished before I had the chance to finish mine 😅

[2019-01-28 16:08] habamadrina commented on #198
Hi Dan! I can certainly help in the Spanish group.
👋

On Sun, Jan 27, 2019 at 6:48 PM Dan Abramov <notifications@github.com>
wrote:

--
Thaly Gutiérrez <http://co.linkedin.com/in/thalygutierrez>

     \< >/
      @@
    (  --  )
 (\(        )/)
m   mm   m     ha{b}a madrina
t r a n s f o r m a n d o    r a n a s    e n    p r í n c i p e s

[2019-01-28 19:57] gaearon commented on #203
Also notable that it only happens on zoom.

[2019-01-28 20:32] Frexeptabel commented on #203
Created a PR ( #206 ) with my approach / solution.

[2019-01-29 03:39] choyongjoon commented on #198
Hi, I translated "The Elements of UI Engineering" into Korean. I want to improve the quality and ensure consistency with other maintainers.

[2019-01-29 06:14] chloewlin commented on #198
Hi @gaearon creating a group of translators and reviewers for each language is a fantastic idea.  Perhaps we can also consider creating a table in a **README.md** to systematically keep track of who are the owners/reviewers, which article has been translated, which is in progress by whom (to avoid collision or repetition), which article is yet to be translated, etc. This way, everyone will be on t

[2019-01-29 07:15] Gabri3l commented on #198
That's a great idea @chloewlin ! Last thing I would want is for two people working on a translation at the same time without knowing it, while they could just help each other! Let's see what Dan thinks about it.

[2019-01-30 02:07] xueqingxiao commented on #198
Hi Dan, I'm gonna translating into Chinese simplified. I will getting start from your latest post.

[2019-02-02 11:12] tdd commented on #198
@gaearon any news on the publishing schedule? Several new translations got merged in a while (well, 4-7 days) back but aren't online yet, I confess it's a bit frustrating 😉

At least, having an understanding of what triggers publication and such would be helpful.

Cheers!

[2019-02-04 05:03] gokulkrishh commented on #203
@gaearon Simple fix would be adding `padding-bottom: 1px` to the `a` tag style.
<img width="1680" alt="screenshot_2019-02-04_at_10_30_47_am" src="https://user-images.githubusercontent.com/2944237/52190996-50463900-2868-11e9-9a4c-2dbe5b565ccf.png">

[2019-02-04 05:18] Gaelan opened #248 "Render code responsively using Prettier"
I tweeted at you yesterday complaining about horizontal scrolling behavior, but it occurs to me that there's a better solution: use Prettier in the client to reformat code to fit on the screen. Turns out, I'm not the first one to have this idea—someone has a component for it at https://www.npmjs.com/package/react-prettier-code-tag.

[2019-02-05 10:56] Frexeptabel commented on #203
I added a 2px padding bottom in #206 😄

[2019-02-05 13:30] Frexeptabel commented on #203
@gokulkrishh I personally just like the look of 2px more but that just might be my personal opinion.
I guess we need to wait for @gaearon  's opinion!

[2019-02-05 14:44] jaredpalmer opened #258 "IE 11 `<code>` styles"
Working on another Gatsby site and noticed that Gatsby, Typography.js, and IE11 are not friends. I took some screenshots of the overreacted on IE11 via Browserstack. Seems like `<code>` styles are not working as expected. I'm not sure that this really matters at all because of the target audience and tiny % of IE11 readers. However, figured I would give you a heads up anyways.

<img width="1686" a

[2019-02-06 16:42] Angelki commented on #198
Maybe I can help. And  I've translated an article now.

[2019-02-06 17:00] Angelki commented on #198
I don't think it's wise for a few people to translate an article together at the same time. A more appropriate choice is one guy to translate the post, the others is in charge of review. And different posts may have different translators and reviewers. You can then let the readers of the same language discuss it together.

[2019-02-06 17:03] Frexeptabel commented on #198
I think we should have like a group of x (2-3) people per language. If someone translates an article into this language those people should read and approve and finally merge the article.

This approach would guarantee proper articles and fast merging!

[2019-02-07 15:04] leyayun commented on #198
Can't agree more. I think we can cooperate to translate Simplified Chinese. @xueqingxiao @Angelki

[2019-02-07 19:25] WendellAdriel commented on #198
IDK if there's a way to know if someone is working on that, but I'm starting to work on the translation for the "Why Isn’t X a Hook?" translation for Portuguese (Brazil).

[2019-02-08 04:37] Deano1167 commented on #178
Help

[2019-02-10 21:33] gaearon commented on #248
Interesting. I suppose that would increase the bundle a _lot_ though.

[2019-02-10 21:34] gaearon commented on #198
Now that we've integrated Now, merges should trigger deploys.

---

Btw sorry to everyone I've been away for a bit, the Hooks release and React website i18n work took most of my time this week.

[2019-02-10 21:35] gaearon commented on #198
@chloewlin If you could organize this, it would be amazing! I'm struggling to find time to manage this right now.

[2019-02-10 22:18] Gaelan commented on #248
Ooh, yeah. I just tested and Prettier's browser bundle (standalone.js in the latest NPM version) is ~119 KB minified and gzipped. Your posts currently weigh 200-300 KB (loading the post directly with no cache), so that's a pretty big difference.

[2019-02-10 22:41] #148 closed

[2019-02-10 22:47] gaearon opened #277 "Localized RSS feeds"
Now that we have https://github.com/gaearon/overreacted.io/pull/204 it would be nice if they also had their own feeds.

cc @AlexRobinson-

[2019-02-10 23:21] chloewlin commented on #198
@gaearon I am on it! I

[2019-02-11 00:35] nekopipi opened #278 "node_modules\pngquant-bin: Command failed."
Hi,Dan! I cloned the you blog on my computer.But when I run `Yarn` it told me:

error C:\Users\xsj\front-end\gatsby\overreacted.io\node_modules\pngquant-bin: Command failed.
Exit code: 1
Command: node lib/install.js
Arguments:
Directory: C:\Users\xsj\front-end\gatsby\overreacted.io\node_modules\pngquant-bin
Output:
‼ connect ETIMEDOUT 151.101.40.133:443
  ‼ pngquant pre-build test failed
  i compi

[2019-02-11 09:55] WendellAdriel commented on #198
I already translated two posts and now I'm starting working on the translation of "The Elements of UI Engineering" into Portuguese (Brazil).

[2019-02-11 10:06] chloewlin commented on #198
@WendellAdriel Great. I updated the table with your work in progress.

This table is currently a PR under review, but we will update it to the README.md soon!
<img width="795" alt="screen shot 2019-02-11 at 2 03 20 am" src="https://user-images.githubusercontent.com/31831596/52556400-4610c700-2da1-11e9-88ef-5ec932065ccd.png">

[2019-02-11 10:08] WendellAdriel commented on #198
Thank you so much @chloewlin!!!

[2019-02-11 13:18] j-f1 commented on #248
You could import it in a web worker and update the code blocks when it downloads.

[2019-02-11 21:04] mojtabast commented on #198
I can do the Persian translations.

[2019-02-12 21:46] yosif111 commented on #198
Hello Dan, i can definitely help with Arabic!

[2019-02-13 09:16] WendellAdriel commented on #198
While @chloewlin table isn't merged, just wanted to keep track of what I'm doing.
I already sent a PR for the post `The Elements of UI Engineering` and now I'm working on the translation of the post `How Does React Tell a Class from a Function?` to `pt-br`

[2019-02-13 15:19] babramczyk opened #299 "Link to website in emails at top"
For those who prefer to read the posts on the actual site, it'd be nice to have a link to the post at the top of the email, as opposed to the bottom.

[2019-02-14 01:41] tonghuashuo commented on #198
Hands up for Simplified Chinese (简体中文). I've got #293 waiting for review right now, and I'm working on the others.

[2019-02-15 17:33] mishelashala commented on #198
Hi @gaearon I can help @carburo with Spanish translations :)

[2019-02-16 06:05] chloewlin commented on #198
Hi @tonghuashuo, thank you for your contribution! I reviewed your work on #293 and added some suggestions regarding missing commas, periods, and parenthesis.

[2019-02-16 07:50] tonghuashuo commented on #198
Thanks @chloewlin . It's updated.

[2019-02-16 14:32] gaearon commented on #299
I added a link to the website itself but I don’t know how to make it link to a specific post. So that’ll do for now.

[2019-02-16 14:32] #299 closed

[2019-02-17 07:24] dikshantpatodia opened #308 "Toggle checkbox display dark background for day mode too and redundancy of unit measure of 0px."
In src/utils/global.css:
1. Mismatched property value for 'font-style'.
2. Line 60, font property font-family does not have generic default. Added sans-serif.

Logic issue:
1. Toggle checkbox display dark background for day mode too.

Fixes added in src/components/Toggle.js:
- a ternary condition for react-toggle-track.

Fixed added in src/components/Toggle.css
- added for-day and for-night classe

[2019-02-18 18:45] j-f1 commented on #308
Check out @kentcdodds’s free course on this topic: http://makeapullrequest.com/

[2019-02-22 09:00] shirai91 commented on #278
i think your environment is not fully setting up. some module have binary files required to build on client's machine to use. So all you needed is install `python` (ver 2.x), `make` and `gcc` on your machine. you can follow node-gyp's installation guide for setting up. [https://github.com/nodejs/node-gyp](url)

[2019-02-24 12:56] nekopipi commented on #278
Thanks ! I will try.

[2019-02-24 16:58] elisamueljah commented on #278
I don’t have any understanding of
IT or Code ; really can’t tell u why I joined

Sent from my iPhone

[2019-02-25 04:16] bartekus commented on #198
I'll gladly help out with Polish translation @gaearon !

[2019-02-25 16:22] dstuecken commented on #198
Hey Dan, I can help with German. Should we just send PRs?

[2019-02-28 09:10] jLouzado opened #335 "bug(post/bug-O notation): Next/Prev Article links almost overlapping"
<img width="957" alt="screen shot 2019-02-28 at 2 38 03 pm" src="https://user-images.githubusercontent.com/2016685/53554842-b459d580-3b66-11e9-9703-2089ae717897.png">

At this screen resolution it looks like it's just one line

[2019-03-11 13:13] #335 closed

[2019-03-12 15:50] SleeplessByte opened #367 "Suggestion: Add correct version of fetchData example in "A Complete Guide to useEffect""
TL;DR: There is actually no solution given to the initial "issue". I recommend repeating the `Comment` component with the correct usage of `useEffect`.

## Context

In the recent article [**A Complete Guide to useEffect**](https://overreacted.io/a-complete-guide-to-useeffect/), which is amazingly well written, there is a section ["Don't lie to react about dependencies"](https://overreacted.io/a-co

[2019-03-12 16:13] gaearon commented on #367
Seems like you have a good idea of fixes that should be done. Do you want to send a PR doing them? That would be much appreciated.

[2019-03-12 16:58] gaearon commented on #367
I feel like I utterly failed to explain anything with this article if these are the questions that people ask. I'm sorry.

[2019-03-12 17:22] SleeplessByte commented on #367
They only asked it _because_ the examples to them were _too_ different. There are no clear recommendations in the article (imo). Most of it is "you could do X or you could use Y".

Personally I don't think you failed explaining what `useEffect` is and how it works, but I don't think the guide is complete. It doesn't provide a ruleset or guidelines to use for most cases, it only highlights common i

[2019-03-12 17:23] SleeplessByte commented on #367
I would, but I think your writing is much better than mine. I don't have a clear overview *yet* what exactly is missing from this article to make it even more complete. That said, I'll talk to the specific people who have raised the questions and see if that yields a better response.

[2019-03-12 18:08] gaearon commented on #367
Hmm I think it *does* provide suggestions:

I guess that flow gets lost if you're not reading very closely. So here's a recap.

### What to do if effect uses a function

* If you can, **move this function *outside* the component**. In that case we know for sure that it doesn't use any props or state, and so it's not a dependency.

* If you can't move it outside the component, move it **inside the

[2019-03-12 21:39] gaearon commented on #367
Would this content in FAQ help? https://github.com/reactjs/reactjs.org/pull/1815

[2019-03-13 00:47] juancuiule commented on #178
Hi @gaearon do yo know if someone is working on this? I may have time to give it a try.

[2019-03-13 01:04] j-f1 commented on #178
Would be cool if someone were to create something like Medium’s recommended posts feature, except for linking together independent blogs instead of forcing people to use Medium.

[2019-03-13 10:25] SleeplessByte commented on #367
I just sent them that recap. Here are the responses:

- Ah, that makes sense; I thought wrapping in `useCallback` was always just a way/an alternative to do this, not a "last resort".
- Ok, but they only two questions I have left are:
  - What is that observable/subscribe/unsubscribe stuff, why is it not explained? Can I just use that?
  - So just to be clear: never use the function itself as a de

[2019-03-13 14:08] gaearon commented on #367
I don't really understand the question. It's just a random example of a data subscription. You can use observables for them if you want but I'm not sure how that relates to my point.

It's only OK to use a function as a dependency if you wrapped it in `useCallback`. But it's annoying to do so when you can, avoid it.

[2019-03-13 14:09] gaearon commented on #367
New items in FAQ:

https://reactjs.org/docs/hooks-faq.html#why-am-i-seeing-stale-props-or-state-inside-my-function
https://reactjs.org/docs/hooks-faq.html#is-it-safe-to-omit-functions-from-the-list-of-dependencies
https://reactjs.org/docs/hooks-faq.html#what-can-i-do-if-my-effect-dependencies-change-too-often

Hope this helps.

[2019-03-13 14:59] #367 closed

[2019-03-13 15:25] SleeplessByte commented on #367
That was my response more or less ("It's just a random API call that has nothing to do with the article"). The response from one guy was "oh okay, I thought hooks added this to apis or something".

Yes, that's how it was interpreted <3

[2019-03-14 01:04] juancuiule commented on #178
I'm working on this and have an implementation for `related` in frontmatter header that should be an array of related posts. I think that this coul work with `tags` too...

[2019-03-14 01:55] juancuiule commented on #178
I would like to add this part of the feature too...

But I'm not sure on how can we mesure if the user red a post... time? scroll?
After that it will be easy to add those slugs in LocalStorage an ommit them from the related list.

[2019-03-15 05:39] nanot1m opened #378 "Add table of contents to the articles"
As for me it would be good to have some summary in large articles like "A Complete Guide to useEffect". I couldn't read it all at once, and next time when tried to continue reading it was hard to find place where i have stopped reading.

[2019-03-16 17:58] eugrdn opened #384 "Light theme's toggle color"
Black background for the sun looks weird, how about to use sky blue color instead? Looks more natural
<img width="87" alt="Screenshot 2019-03-16 at 20 51 43" src="https://user-images.githubusercontent.com/16277984/54479482-39631100-482e-11e9-96af-7270fdf39feb.png">

[2019-03-18 03:08] parker-codes opened #392 "Persisted scroll to last position"
I don't always get to finish an article in one sitting due to their length (which I totally didn't not mind!). The issue is that when I open chrome on my phone, it starts me at the top of the page again.

I think setting the scrollTop value to local storage would suffice, but I think there are some newer methods for tracking this more precisely. Then it could be automatically scrolled to that posi

[2019-03-18 16:55] itsjzt opened #402 "Can I do Hindi translation if you posts"
Hi Dan,

I know that there are many blog of your posts translated to many different languages yet not for Hindi partially because a lot of Hindi guys are mediocre at English too. But it can help to a lot of those who aren't good at English.

Can I translation them to HINDI?

[2019-03-18 22:36] cherscarlett opened #403 "Need a screen-reader styling method for words with wide letter-spacing."
<img width="271" alt="Screen Shot 2019-03-18 at 3 32 37 PM" src="https://user-images.githubusercontent.com/260048/54568126-4fd6ad00-4993-11e9-95bf-b95bfd121841.png">

In a screen reader, these letters will be read one at a time.

Solution would be to add a method to add letter-spacing via CSS, either by parsing during other operations, or with a specific method during entry.

[2019-03-19 07:09] retyui opened #405 "Очень важен перевод 'A Complete Guide to useEffect' на русский"
В тветтере видел твит, что все переводы статей (overreacted.io) на русский будут авторские
И как результат нехватки времени мы получили только 2 статьи (https://overreacted.io/ru/)
Есть ли желание продолжить авторские переводы?

[2019-03-19 21:09] j-f1 commented on #403
Is it possible to specify text to be read aloud instead of the actual text as an attribute? i.e. `<span aria-foo="aesthetics">a e s t h e t i c s</span>`

[2019-03-20 13:23] gaearon commented on #405
На это уходит много времени, и сейчас пока кажется важнее писать на английском новые посты чем переводить старые. Но могу постараться продраться если кажется, что важно.

[2019-03-21 03:38] cherscarlett commented on #403
@j-f1 You'd need to obscure the single letter text from the screen reader as well, otherwise it will read both. Because it's a style - it really should be CSS.

[2019-03-21 14:38] spences10 opened #420 "Use parler.io for audio"
I converted the https://overreacted.io/writing-resilient-components/ post to use audi description from parler.io

https://parler.io/conversion/?id=ff942987f8a200af99ac93aaa7bd71d06bfd4ab0

[2019-03-24 14:29] #402 closed

[2019-03-26 06:17] mnihalm opened #428 "Bold in dark mode is not clearly distinguishable"
![image](https://user-images.githubusercontent.com/37205475/54975369-e1aa6f80-4fbc-11e9-8d5f-9d5d90766d95.png)
See image for example.

Otherwise, great Blog!

[2019-03-27 23:12] deman4ik commented on #405
Кто-то уже [перевел ](https://habr.com/ru/company/ruvds/blog/445276/)

[2019-03-28 06:41] #405 closed

[2019-03-28 07:26] jcheese1 opened #431 "Japanese translation for 'A Complete Guide to useEffect'"
Just leaving it out here to let people know I'm working on it

[2019-03-31 22:15] akhilome opened #440 "https://www.overreacted.io/ throwing a 404"
See the following image for more context 👇

![image](https://user-images.githubusercontent.com/15332525/55295930-af5ca000-540a-11e9-866e-820f1de76799.png)

Would a new `alias` within the `now.json` file handle for this? Or an outright redirection?

[2019-04-01 01:02] leerob commented on #440
Yep, you'll want to have two aliases. One for `www` and another without.

[code]
I'm doing the same thing for [my site deployed with Now](https://github.com/leerob/leerob.io/blob/master/now.json#L2).

[2019-04-03 02:33] matheussilva2 opened #444 "Change Post's Background On Mouse Hover"
Add an :hover CSS event
If you would add a :hover css event for posts <article> at the homepage, it would be more interactive. 😄

I changed it at Inspect Element (i added a padding to <article> too)
![image](https://user-images.githubusercontent.com/39217215/55448723-49555180-559f-11e9-9aa9-79d880826379.png)

[2019-04-03 02:36] matheussilva2 commented on #444
You could change the cursor (cursor: pointer), or add a link over the post item.
<a href="post-link">
  <article>
     [...]
  <article>
</a>

[2019-04-15 06:59] wgao19 commented on #180
Hi @gaearon, are you referring to headings in posts? Looks already fixed is it?
![image](https://user-images.githubusercontent.com/2055384/56112863-d381ba80-5f8e-11e9-8d9b-c2ec55e3b105.png)

[2019-04-16 20:49] apenab opened #454 "Web site blocked for Cuba."
This site is now blocked for Cuba..🤷🤷

[2019-04-17 11:17] j-f1 commented on #454
Does https://carbon.now.sh work for you? It runs on the same hosting platform.

[2019-04-24 15:41] apenab commented on #454
This site is blocked for Cuba....😢

[2019-04-24 15:45] ktowen commented on #454
Both sites are blocked for Cuba

[2019-04-24 17:18] j-f1 commented on #454
cc @rauchg — is there anything you can do to unblock Now in Cuba?

[2019-05-07 16:40] liamm12 opened #460 "React-Native Making setInterval Declarative with React Hoo"
I'm playing with React Hooks for more than a few hours, I'm probably ran into an intriguing problem: using setInterval just doesn’t work as I'd expect with react-native

    function Counter() {
      const [time, setTime] = useState(0);
      useEffect(() => {
        const id = setInterval(() => {
          console.log('called');
          setTime(time + 1);
        }, 1000);
        return () =

[2019-05-14 17:14] #460 closed

[2019-05-24 18:02] LuisPaGarcia commented on #454
The restriction comes from inside.

https://en.wikipedia.org/wiki/Internet_censorship_in_Cuba

[2019-05-30 18:00] hugmanrique commented on #403
I agree: we could use @j-f1's approach where the text is wrapped inside a component/span, but the text is **all together**, i.e. "aesthetics".

Then we could add `letter-spacing: 0.1 em` to that same component.

[2019-06-03 14:22] carburo commented on #454
The restriction does not come from inside. This probably has to do with Now's GCP infrastructure (GCP blocks access from Cuba and other US sanctioned countries). In the meantime a VPN is the way to go.

[2019-06-18 18:02] jkillian opened #473 "Post license is too restrictive?"
The [current posts license](https://github.com/gaearon/overreacted.io/blob/cdb8561e0a71b67d5e9b6543079a5d55b4c92377/LICENSE-posts) reads as follows:

[code]

Unfortunately, I believe this means that the code samples in your posts are strictly licensed and cannot be used by others. For example, I wanted to borrow your [`useInterval` implementation](https://overreacted.io/making-setinterval-declarat

[2019-06-26 19:55] rootlinux2 commented on #454
Hi, to all, I can help with this ISSUE without VPN, I recently migrated some projects to NOW and faced the same problem, NOW is hosting on google datacenter and is blocked for all US sanctioned countries.
The solution for me was to use Cloudflare as a proxy server. [Zeit Doc](https://zeit.co/docs/v1/guides/how-to-use-cloudflare/)
Any doubt feel free to contact

[2019-06-30 17:11] ningo-agilityio commented on #71
@havenbarnes: Your solution still doesn't work for me. I got another error:

[code]
Any suggestion for me please help.

[2019-07-15 21:01] Daniel15 opened #480 "RSS feed not found"
My RSS reader (NewsBlur) can't find your RSS feed... I guess whatever meta tags are needed are missing.

![](https://d.sb/2019/07/firefox_15-14.01.03.png)

It works if I explicitly use `https://overreacted.io/rss.xml` as the URL, but I don't have to do that for other sites...

[2019-07-15 21:02] Daniel15 commented on #480
Seems like the meta tag is there, so I'm not sure why Newsblur doesn't like it :/

[code]

[2019-08-04 03:49] liuxinqiong opened #493 "One question in Writing Resilient Components blog"
Article: Writing Resilient Components,
Position: Principle 2: Always Be Ready to Render

I am thinking whether I misunderstanding this sentence. as I know even using `PureComponent`, the `componentWillReceiveProps` hook will still be called, because it is ahead of shouldComponentUpdate.

[2019-08-07 03:36] ggarek opened #494 "Algebraic effects post. Note about the code example."
The article is very inspiring and well written. I enjoyed reading a lot, thank you! :heart:

This is just a small note regarding the code example, used in the article.

This code:

[code]

, will throw earlier than `throw new Error('A girl has no name');`.
It will throw in `user1.friendNames.add(getName(user2));`.

I was just a bit confused reading the code and text, _quote_:

[2019-10-06 13:36] FilipIlievski commented on #198
Hey @gaearon, I'd be happy to contribute by translating to my native language - Macedonian.

There haven't been any translation to Macedonian yet, but the Cyrillic fonts should work just fine.

Also, I know other developers that would be interested in reviewing the PRs and make sure it meets the criteria you've mentioned.

Let me know if you're okay with it and I'll submit a PRs for your latest po

[2019-10-07 17:27] 0limpi0 commented on #198
Hey @gaearon, I'd be happy to contribute by translating to my native language - Portuguese.

[2019-10-19 22:30] KevinBurton opened #529 "TypeScript?"
When I put the custom useInterval hook in a TypeScript environment I get an error:

Parameter 'callback' implicitly has an 'any' type.  TS7006

[2019-10-23 16:10] ChaituKNag opened #530 "Overreacted is down"
I see that overreacted.io hosted on Zeit shows a 500 INTERNAL SERVER error while loading the home page.

![image](https://user-images.githubusercontent.com/13428505/67412833-a6693100-f5dd-11e9-9054-7b838ea2b9ed.png)

[2019-10-23 16:44] j-f1 commented on #530
It works fine for me.

[2019-10-23 16:48] j-f1 commented on #529
Here’s a version with some annotations:

[code]

[2019-10-24 06:08] ChaituKNag commented on #530
Works fine for me too now. Thanks. Is there a better way to reach out for such issues in future?

[2019-10-24 06:08] #530 closed

[2019-10-24 15:04] ChaituKNag opened #531 "Link text decoration awkward in dark mode when enclosing a code string"
Hi,

Noticed this issue below where the padding of the code string is causing the box-shadow rule given to anchors getting awkwardly hidde behind the background of the code string text.

![Screenshot 2019-10-24 at 8 33 08 PM](https://user-images.githubusercontent.com/13428505/67498750-9fa1f300-f69d-11e9-98e6-6b2e8350be2b.png)

Page: https://overreacted.io/writing-resilient-components/
Link text: "

[2019-11-09 02:51] andrepadez opened #539 "question about React Hooks"
Hi Dan, sorry for reaching out this way, but i don't use twitter.
I am a somewhat late adopter of React Hooks, I can totally see the advantages they bring, and I started "liking" them, after some forced changes in some class methods I realized they made my life a lot easier.

Anyway, there is one issue i have with them, I have never been able to get a straight answer:
**What about performance?**
I

[2019-12-25 15:29] gaearon commented on #473
Happy to take a PR adding a separate license for code snippets. I'd like to keep posts restrictive because I don't want people selling them or reposting without attribution.

[2020-02-28 14:03] Canopix commented on #539
This is not the right place for your question, this is a personal repo of the blog of Dan.
Please move your question to React repo or use ReactiFlux to make this question to a lot of people that can respond to it.

Please respect the right place to make this type of question.

[2020-02-28 14:07] Canopix opened #611 "Working translation as new branches"
Hi all, I'm wondering if there is a better approach to make the translation more collaborative between translators.

I worked in a few translation projects and we worked with branches to make the translations with more people, an example:

`overreacted` Master
`overreacted-spanish` Branch.
`overreacted-chinese` Branch.

Something like this might be better to translate everything more quickly or mo

[2020-03-20 09:32] hasakilol opened #618 "useReducer"
Great Article.

But I don't understand the example given in `Why useReducer Is the Cheat Mode of Hooks` part. For details, please refer to [why reducer is able to access the latest props?](https://stackoverflow.com/questions/60768542/why-reducer-is-able-to-access-the-latest-props) in stackoverflow

[2020-03-23 07:54] gasches opened #619 "react-as-a-ui-runtime:Batching useReducer action type"
Hi. Thanks for a great blog! At the end of https://overreacted.io/react-as-a-ui-runtime/#batching

Shouldn't there be a `string` instead of `object`?

[2020-04-09 08:37] Ugzuzg opened #624 "Respect prefers-color-scheme"
It should open dark theme if `prefers-color-scheme` is set to `dark`.

[2020-04-09 12:38] eps1lon commented on #473
This can be closed now that https://github.com/gaearon/overreacted.io/pull/557 is merged.

[2020-04-23 14:30] rakhee-singh commented on #278
I had the same issue. Rebuilding Xcode solved the problem. Steps to rebuild Xcode:
- xcode-select --print-path (prints the path where Xcode is installed)
- sudo rm -r -f [path] (this deleted the Xcode)
- xcode-select --install (installs Xcode)

[2020-04-23 14:34] Rakhee06 commented on #278
I had the same issue. Rebuilding Xcode solved the problem. Steps to rebuild Xcode:

xcode-select --print-path (prints the path where Xcode is installed)
sudo rm -r -f [path] (this deleted the Xcode)
xcode-select --install (installs Xcode)

[2020-05-17 19:15] kachick commented on #431
https://github.com/gaearon/overreacted.io/pull/472 Thanks for your work! It is so helpful to me 🙏

[2020-06-15 09:40] Jatin-8898 opened #645 "toFormat seems to be empty, we need a fileExtension to set it."
Error: toFormat seems to be empty, we need a fileExtension to set it.
[code]

not finished run page queries - 0.283s

[2020-07-16 09:05] getspooky opened #649 "Feat: Add Tags to Articles"
It would be a good think to add `Tags` in order to provide visitors with a specific and contextually relevant set of posts

[2020-07-20 17:19] rasmusvhansen opened #650 "Dependency in useFriendStatus in "why do hooks rely on call order""
In the custom hook useFriendStatus, the useEffect hook has no dependency array specified. Shouldn't it depend on the recipientId for it to unsubscribe and subscribe at the right points in time?
As far as I can see, the current code will unsubscribe and subscribe in each render?

[2020-07-27 12:38] stevendwood opened #651 "How function remembers name property of parameter"
https://overreacted.io/a-complete-guide-to-useeffect/

Great write up btw, very informative.  I did a double take at [this example](https://codesandbox.io/s/mm6ww11lk8) early on in the article.  The code alerts the correct name whether you capture the name with a local constant or not.  I'm sure you know the reason why so will not bother you with the explanation, however I think this would be the

[2020-08-11 11:49] githubofwyh opened #656 "Why does React hold to the value when clicked?"
### Article https://overreacted.io/how-are-function-components-different-from-classes/

### Question
[code]
As we all know,  closure is live linked rather than capturing the value.In this case, 'user' in setTimeout callback will linked with this code -- 'const { user } = this.props', but each render 'user' in 'const { user } = this.props' will change.So why is it possible to capture the value of a

[2020-09-09 01:44] asyraf-labs commented on #198
Hey @gaearon , I'd be happy to contribute by translating to the Malay/Indonesia language...

Happy to help 😁

[2020-10-28 07:57] NitsanBaleli opened #672 "'a-complete-guide-to-useeffect': 404 on a the 'the canonical wrong-value-in-a-timeout confusion link"
`https://wsvincent.com/javascript-closure-settimeout-for-loop/` shows a 404 page not found -(

Im reporting this as fixing isn't possible.

[2020-12-06 05:01] benibienz opened #675 "Website doesn't show up on Google search"
Not sure if you're aware but if I Google "overreacted dan abramov" the site doesn't show up at all. Same for when I Google article names.

[2020-12-06 05:06] benibienz commented on #675
The reason is your robots.txt file disallows all web crawlers

[2020-12-16 09:54] #378 closed

[2020-12-18 07:05] SniperBuddy101 commented on #675
@benibienz I checked the robots.txt file and it looks fine to me.
I think this can be fixed by submitting the website on https://developers.google.com/search/
@gaearon can you please check?

[2020-12-22 07:38] dbarochiya commented on #645
Facing the same issue

[2020-12-22 09:11] dbarochiya commented on #645
It was so silly, please check all the files that you are importing ( one of them was missing extension)

[2020-12-24 13:16] eddyw commented on #675
That's because overreacted.io has `x-robots-tag: noindex` in the response headers, so none of the pages will be indexed by search engines regardless of the contents of `robots.txt` file.

[2021-01-03 11:44] SniperBuddy101 commented on #675
Got it. Thanks!

[2021-01-16 02:44] lawalalao opened #679 "React State machine"
i want to build a state machine in react to return different delivery status on button click.. How can i do this??

[2021-01-20 17:56] #679 closed

[2021-01-21 15:32] lucapasquale opened #682 "[React as a UI Runtime] Link to React useState implementation doesn't exist"
[This link](https://github.com/gaearon/overreacted.io/blob/b8f37573a614e128d819f2a9790bf278c6f38c36/src/pages/react-as-a-ui-runtime/index.md#L1115) to the actual implementation of useState doesnt exist anymore

Looking at the directory, there is [ReactFiberHooks.old.js](https://github.com/facebook/react/blob/master/packages/react-reconciler/src/ReactFiberHooks.old.js) and [ReactFiberHooks.new.js](

[2021-02-05 23:06] zacharypodbela opened #683 "*Why* does the scope of my Functional Component cause unpredictable layout behavior?"
Hi Dan,

I have numerous examples in my app of the UI flickering or re-laying everything out when a state var changes, but only today when working with animations did it become apparent that it has something with the scope in which I am defining my Functional components. (The app is built on Next.js btw, in case that is relevant!)

Consider the following `ExperienceBuilder` page which allows a use

[2021-02-08 18:55] zacharypodbela commented on #683
Someone answered me on Stack Overflow! https://stackoverflow.com/questions/66071431/functional-component-definition-scope-causing-app-to-not-work-correctly-but-i-c

[2021-02-08 18:55] #683 closed

[2021-03-08 15:28] ajay426 opened #697 "Can I use the website template(not the content) for my personal blogging website?"
Hi!
I want to create my own blogging website. I am highly impressed by the simplicity and of course, the content on the website.
Can I use this repo(not the content) as a template for my personal blogging website?

[2021-03-08 17:33] gaearon commented on #697
Sure. Just remove my name/avatar. :-)

[2021-03-08 17:33] #697 closed

[2021-05-12 09:37] th1j5 opened #710 "[algebraic-effects-for-the-rest-of-us] unison"
Just want to let you know that there is also [unison](https://www.unisonweb.org/) which uses algebraic effects (although they call it [abilities](https://www.unisonweb.org/docs/language-reference/#abilities-and-ability-handlers))

I actually went to look at your blogpost because I still need more information to understand it all...

[2021-06-14 19:25] gabikasb opened #715 "Translate to Hungarian: Things I Don’t Know as of 2018"

[2021-06-15 05:28] gabikasb commented on #715
PR #716

[2021-06-15 05:28] #715 closed

[2021-07-26 14:16] Izhaki opened #727 "Potential bug in “official” useInterval example"
Moved from: https://github.com/facebook/react/issues/21912

---

I'm pretty sure that [the original `userInterval` code](https://overreacted.io/making-setinterval-declarative-with-react-hooks/) is buggy.

The following is ultimately a summary of all the contributions by others in [this SO question](https://stackoverflow.com/q/68407187/1179377).

# Render Phase Callbacks

[code]

`onInterval` in th

[2021-07-31 20:31] gmoniava commented on #727
For some reason no response ... @gaearon

[2021-08-01 20:57] Izhaki commented on #727
@gmoniava Dan is getting (I can only guess) between 200-700 notifications a day.

I doubt he is ignoring this, probably just a low-priority one.

If you look at other issues in this repo, many did not get a response.

We are all eager to get a reply, but I can understand if one doesn't arrive.

[2021-08-02 18:21] gmoniava commented on #727
yeah I see, I just put a friendly reminder (5 days after the post). IMHO I did nothing bad especially worth a downvote from @bvaughn.

[2021-08-02 18:39] gmoniava commented on #727
Yeah I see. I just put a small reminder. If answer comes, it comes; otherwise what can we do.

[2021-08-10 06:49] murugu-21 opened #729 "feature request: search by title and tags"

[2021-08-12 09:27] Izhaki commented on #727
Thanks @steinybot for this elaborate example. However, I couldn't makes sense of it and gave up after 45 minutes. We've all written [fine milk code](https://speakerdeck.com/charity/cd?slide=20) before...

![image](https://user-images.githubusercontent.com/880132/129173071-7df63dc2-5370-453a-8cd5-5b130de187ad.png)

But I believe your conclusion is wrong nevertheless.

# Directly in render

[code]

[2021-08-13 06:18] Izhaki commented on #727
@steinybot Let's make sure we are aligned on some assumptions.

It is a [long and not-so-easy-to-digest blog post](https://medium.com/@guptagaruda/react-hooks-understanding-component-re-renders-9708ddee9928), but one I think is important nevertheless.

My understanding (which may be wrong) is that from the moment a state change triggers a rerender, the following stages happen synchronously:

1. Re

[2021-08-14 23:22] Izhaki commented on #727
This was exactly my point when I asked in the [SO question](https://stackoverflow.com/q/68407187/1179377)

No I don't agree option 2 is valid (In this case the ref must be updated synchronously with "Browser paints screen".) - Once the changes are committed to the DOM, the browser will update shortly after (as soon as it clears the `. From a programatic perspective, there is no difference between

[2021-12-12 13:25] linuxdotexe opened #747 "How to get custom colors in pre and code tags?"
I just cloned the gatsby-starter-blog and I can't find a way to customize code blocks from the CSS. Even if I do anything, the default style is taking precedence. I don't think using `!important` every time is a good idea. I saw that you declared all the necessary in the `global.css` file but I couldn't find where or how you used it. Please help me navigate through.

[2021-12-13 14:26] linuxdotexe commented on #747
Sorry, I looked everywhere except where I should have been😅

[2022-01-12 04:19] matkoniecz opened #751 "Link to "npm audit is a security theater" bug report"
One thing that is missing from https://overreacted.io/npm-audit-broken-by-design/ is a link to a proper bug report.

I see https://github.com/npm/cli/issues/3930 that was closed (!!!) because it was being discussed at https://github.com/npm/rfcs/pull/422

Like THAT would even partially solve ongoing severe bug.

Maybe also mention that they close bug reports under pretext that it is discussed some

[2022-01-28 08:43] murugu-21 opened #754 "Bug: dark-mode implementation"
## steps to reproduce:

1) change theme to opposite of system default
2) press ctrl + p to print document.
3) This triggers a watchMedia event listener which changes theme to system default without checking for localstorage preference.

[2022-01-28 14:03] #729 closed

[2022-02-08 16:01] leo9oo4 opened #755 "[How Are Function Components Different from Classes?]Puzzled thing about "this""
Dear Dan, in the first place, thank you very much for your article to help me understand React better.
While reading the article [How Are Function Components Different from Classes?], I was confused by this paragraph because it was different from what I had seen in the source code.
![image](https://user-images.githubusercontent.com/98603869/153025107-f1232f1b-98ae-4c55-a257-7055be023625.png)

![im

[2022-03-13 03:24] cesarionivar opened #760 "Spanish translations"
Are you currently accepting Spanish translations of the posts that haven't been translated yet?

I want to translate some into Spanish for Spanish speakers ✨

[2022-03-13 04:14] Dincbey commented on #760
please send

13 Mar 2022 Paz 06:24 tarihinde Cesario Nivar ***@***.***>
şunu yazdı:

[2022-03-13 18:31] #760 closed

[2022-03-16 11:58] alexalannunes opened #761 "Link broken"
I'm marathoning @gaearon's articles. I am learning a lot.
But I found a broken link.
Here's the article:

https://github.com/gaearon/overreacted.io/blob/master/src/pages/how-are-function-components-different-from-classes/index.md

Link: drawing conclusions - https://github.com/ryardley/hooks-perf-issues/pull/2 (broken)

[2022-03-17 18:47] alexalannunes commented on #761
There is other broken link in this same article @ryardley's repo

[2022-09-12 07:36] fpetrakov opened #775 "Russian Translation"
Привет, Дэн! Ты все еще не принимаешь переводы твоих статей на русский язык?

[2022-09-29 14:36] #775 closed

[2022-11-11 16:55] Quintis1212 opened #783 "Using a get from lodash"
On this page https://github.com/gaearon/overreacted.io/blob/master/src/templates/blog-index.js was used a  a get from lodash to get siteTitle  and posts  from props. What is the purpouse of using get from lodash to get data from props ? Why we can not just get props as in langKey  case ?